/* CSS Document */
.nav ul{
width:980px;
border:1px solid #000;
list-style-type:none;
}
.nav ul{
width:980px;
border:1px solid #000;
margin:0px auto 0px auto;
}
.nav ul li{
float:left;
}
.nav ul li a{
width:80px;
height:28px;
line-height:28px;
background:
color:#FFF;
margin:5px 10px;
font-size:12px;
display:block;
text-align:center;
text-decoration:none; 
}
.nav ul li a:hover{
width:78px;
height:26px;
line-height:28px;
border:1px solid #009900;
color:green;
background:#FFF;
}